@mixin line_under_word_position($width, $height, $left, $bottom) {
  width: $width;
  height: $height;
  left: $left;
  bottom: $bottom;
}

$font-weights: (
  "regular": 400,
  "semi bold": 600,
  "bold": 700
);

.line_under_word {
  content: "";
  background: $color-secondary-accent;
  position: absolute;
  z-index: -1;
}

header,
main,
footer {
  padding: 15px 10%;
}

body {
  background-color: $color-background;
  margin: 0px;
  font-family: $font-second;
  font-weight: map-get($font-weights, "regular");
  color: $color-primary-dark;
}

header {
  background-image: $img-header-url;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  padding-right: 50%;
  padding-bottom: 124px;
  border-bottom-right-radius: 50%;
  .header_heading {
    font-size: 64px;
    font-weight: map-get($font-weights, "bold");
    margin-bottom: 42px;
    position: relative;
    font-family: "Source Sans Pro", sans-serif;
    z-index: 1;
    &::before {
      @extend .line_under_word;
      @include line_under_word_position(270px, 20px, 1px, 8px);
    }
  }
  .header_text {
    margin-bottom: 64px;
  }
}

.landing-logo {
  p {
    margin-left: 8px;
    text-align: center;
    display: inline-block;
    font-weight: map-get($font-weights, "semi bold");
    font-size: 24px;
    font-family: $font-second;
    span {
      display: block;
      font-size: 10px;
    }
  }
  img {
    margin-bottom: -6px;
  }
}


.header_button {
  color: $color-primary-light;
  background-color: $color-primary-accent;
  padding: 14px 36px;
  border: none;
  cursor: pointer;
  font-weight: map-get($font-weights, "bold");
}

main.section {
  padding-bottom: 180px;
  position: relative;
  text-align: center;
  background: $color-background;
  p.section_text {
    font-size: 36px;
    font-weight: map-get($font-weights, "bold");
    text-align: center;
    position: relative;
    display: inline-block;
    font-family: "Hind", sans-serif;
    z-index: 1;
    &::before {
      @extend .line_under_word;
      @include line_under_word_position(160px, 10px, 205px, 15px);
    }
  }
}
.section_card_wrap {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.section_card {
  display: inline-block;
  padding: 14px;
  border-radius: 4px;
  margin-left: 1%;
  margin-right: 1%;
  background: $color-secondary-dark;
  color: $color-secondary-light;
  width: 30%;
  img.section_card_img {
    width: 100%;
    border-radius: 4px;
  }
  p.section_card_heading {
    font-size: 20px;
    font-weight: map-get($font-weights, "semi bold");
    margin-bottom: 0px;
    display: inline-block;
    color: $color-primary-light;
    position: relative;
    font-family: "Source Sans Pro", sans-serif;
    z-index: 1;
    &::before {
      @extend .line_under_word;
    }
  }

  &:nth-child(1) p.section_card_heading::before {
    @include line_under_word_position(152px, 10px, 0, 0);
  }

  &:nth-child(2) p.section_card_heading::before {
    @include line_under_word_position(128px, 10px, 0, 0);
  }

  &:nth-child(3) p.section_card_heading::before {
    @include line_under_word_position(98px, 10px, 0, 0);
  }

  p.section_card_text {
    font-size: 14px;
    line-height: 1.5;
  }
}

.section_banner {
  border-radius: 8px;
  width: 50%;
  margin: auto;
  background: rgb(105, 153, 0);
  background: linear-gradient(
    90deg,
    $color-primary-accent 24%,
    $color-secondary-accent 68%
  );
  padding: 30px 80px 18px 80px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -66px;
  p {
    margin: 0px;
    margin-bottom: 12px;
  }
  &::after {
    display: table;
    content: "";
    clear: both;
  }
  .section_banner_text_wrap {
    float: left;
    text-align: left;
  }
  .section_banner_heading {
    font-size: 28px;
    font-weight: map-get($font-weights, "bold");
    position: relative;
    font-family: "Source Sans Pro", sans-serif;
    z-index: 2;
    &::before {
      @extend .line_under_word;
      @include line_under_word_position(57px, 10px, 114px, 4px);
      z-index: -1;
    }
  }
  .section_banner_text {
    font-size: 14px;
    color: $color-secondary-light;
    font-family: $font-second;
  }
  .section_banner_button {
    @extend .header_button;
    float: right;
    margin-top: 12px;
  }
}
footer {
  background: $color-secondary-dark;
  color: $color-secondary-light;
  padding-bottom: 40px;
  padding-top: 120px;
}
.footer-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  div,
  p,
  span {
    display: inline-block;
  }
  p.footer_text {
    width: 30%;
  }
}


.footer_logo.landing-logo {
  width: 15%;
}
