$color-primary-light:#f2f3f7;
$color-primary-dark:white;
$color-primary-accent:#e3ac00;
$color-secondary-light:#d1d1d1;
$color-secondary-dark:#3b3f50;
$color-secondary-accent:#ff4e33;
$color-background:#21232e;
$img-header-url:url('../img/m-h-night.jpg');
$font: "Source Sans Pro", sans-serif;
$font-second:'Fresca', sans-serif;
$font-third:'Hind', sans-serif;
