$color-primary-light:white;
$color-primary-dark:#2c2f3c;
$color-primary-accent:#699900;
$color-secondary-light:#c0c3ce;
$color-secondary-dark:#21232e;
$color-secondary-accent:#14a0c7;
$color-background:white;
$img-header-url:url('../img/m-h-day.jpg');
$font: "Source Sans Pro", sans-serif;
$font-second:"Source Sans Pro", sans-serif;
$font-third:"Source Sans Pro", sans-serif;
